<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
<div>
    {% if songs %}
    <h1>All Songs</h1>
    <table>
	    <thead>
			<tr>
				<th>Song title</th>
				<th>Album</th>
				<th>Artist</th>
				<th>Audio file</th>
				<th>Delete Song</th>
				<th>Download Song</th>
			</tr>
		</thead>
		<tbody>
        {% for song in songs  %}
			<tr>
			    <td>{{ song.song_title}}</td>
			    <td>
				    {{song.album}}
			    </td>
			    <td>
		            {{song.artist}}
			    </td>
			    <td>
				    <a target="_blank" href="{{song.audio_file.url}}">
					    <button type="button">Play</button>
				    </a>
			    </td>
			    <td>
		            <form action="{% url 'musicmanagement:delete_song' song.id %}" method="post" style="display:inline;">
		            {% csrf_token %}
		            <input type="hidden" name="song.id" value="{{song.id}}">
		            <button type="submit">Delete</button>
		            </form>
			    </td>
			    <th>
			        <a href="{{song.audio_file.url}}" download>Download</a>
			    </th>
			</tr>
		{% endfor%}
		</tbody>
	</table>
    {% endif %}
</div>
<div>
    <br>
	<a href="{% url 'musicmanagement:create_song' %}">
	    <button type="button"> Add a Song</button>
	</a>
</div>
{% if songs %}
<form name="myform" method="get" action="{% url 'musicmanagement:search' %}" style="display:inline;">
<input type="text" name="search" placeholder="Search">
<button type="submit">Search</button>
</form>
{% endif %}
</body>
</html>