<!DOCTYPE html>
<html>
<head>
	<title>search </title>
</head>
<body>
<div>
    {% if songs %}
    <h1>Songs for your search </h1>
    <table>
	    <thead>
			<tr>
				<th>Song title</th>
				<th>Album</th>
				<th>Artist</th>
				<th>Audio file</th>
				<th>Delete Song</th>
				<th>Download Song</th>
			</tr>
		</thead>
		<tbody>
        {% for song in songs  %}
			<tr>
			    <td>{{ song.song_title}}</td>
			    <td>
				    {{song.album}}
			    </td>
			    <td>
				    {{song.artist}}
			    </td>
			    <td>
				    <a target="_blank" href="{{song.audio_file.url}}">
					    <button type="button">Play</button>
				    </a>
			    </td>
			    <td>
		            <form action="{% url 'musicmanagement:delete_song' song.id %}" method="post" style="display:inline;">
		            {% csrf_token %}
		            <input type="hidden" name="song.id" value="{{song.id}}">
		            <button type="submit">Delete</button>
		            </form>
			    </td>
			    <th>
			        <a href="{{song.audio_file.url}}" download>Download</a>
			    </th>
			</tr>
		{% endfor%}
		</tbody>
	</table>
	{% else %}
	<div>
	    <h4>found Nothing related to your search </h4>
	</div>
    {% endif %}
</div>
</body>
</html>